header {
    background-color: white;
}

.colorMenu{
    background-color: #d3e9ee;
    color: black;
    border-color: #d3e9ee;
  
}

.sizeMain{
    background-color: #d3e9ee;
    height: 100%;
    border-radius: 20px;
}

.alignLogo{
    flex-direction: column;
    align-items: center;
}

.alignPartenaires{
    align-items: center;
}

.TitleCenter{
    margin-top: 10%;
    
}

.departementInter{
    flex-direction: row;
    justify-content: center;
}


.textCard{
    font-size:12px;
}

.sizeCard1{
    height: 20rem;
}

.sizeCard2{
    height: 20rem;
}

.sizeCard3{
    height: 20rem;
}

.sizeEntetecard{
    height: 10rem;
}

.sizeEntetecard2{
    height: 5rem;
}

.sizeCard4{
    height: 8rem;
}

.sizeCard5{
    height: 8rem;
}

.imgDisplay{
    display:none
}


@media (max-width: 576px){

    .sizeCard1{
        height: 21rem;
    }

    .sizeCard2{
        height: 17rem;
    }

    .sizeCard3{
        height: 14rem;
    }

    .sizeCard4{
        height: 8rem;
    }

    .sizeCard5{
        height: 5rem;
    }
}

@media (max-width: 300px){

    .sizeCard1{
        height: 25rem;
    }

    .sizeCard2{
        height: 20rem;
    }

    .sizeCard3{
        height: 16rem;
    }

    .sizeCard4{
        height: 10rem;
    }

    .sizeCard5{
        height: 3rem;
    }
}